:root {
    --navbar-color: rgb(2, 35, 65);
    --navbar-hover-color: rgba(38, 238, 245, 0.75);
}    

.header {
    position: relative;
}

.navbar {
    position: relative;
    width: 100%;
    min-height: 50px;
    background-color: var(--navbar-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    width: 10vw;
}

.navButton {
    position: relative;
    margin: 1vw 0.5vw;
    width: 14vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-color);
    border: none;
    outline: none;
}

.button {
    border: none;
    width: 100%;
    height: 100%;
    font-family: sans-serif; 
    font-size: 1.2vw;
    line-height: 1;
    font-weight: bold;
    background: transparent;
    color: white;
    border-radius: 10px;
}


#visualizebtn {
    background-color: var(--navbar-hover-color);
    font-size: 1.3em;
    -webkit-text-stroke: .008em;
    -webkit-text-stroke-color: rgb(107, 106, 106);
    margin: 5px;
}

#visualizebtn:hover {
    font-size: 1.5em;
}

.button:hover {
    background-color: var(--navbar-hover-color);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-color);
    width: 16vw;
    height: 5vh;
}

#algoDropdownDiv {
    width: 16.5vw;
}

.dropdown::before { 
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 32%;
    right: 1vw;
    border: 2px solid white;
    border-right: 0px white;
    border-top: 0px white;
    z-index: 5;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 17px;
    transform: rotate(135deg);
    transition: 0.5s;
    pointer-events: none;
}

#algoDropdownDiv .option, 
#mazeDropdownDiv .option,
#speedDropdownDiv .option {
    position: absolute;
    top: 6.5vh;
    width: 100%;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

#algoDropdownDiv.active .option,
#mazeDropdownDiv.active .option,
#speedDropdownDiv.active .option {
    display: block;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    background: rgb(7, 44, 124);
    color: white
}

.body {
    display: flexbox;

}

.counterDiv {
    color: var(--navbar-color);
    background-color: red;
    width: 15vw;
    height: 3vw;
    border-radius: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 1.2vw;
    justify-content: center;
    text-align: center;
    vertical-align: center;


    /* display: none; */
}

.grid {
    position: absolute;
    margin: 0vw 11vw;
    z-index: -1;
}
